form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;  
}

form input[type="text"], form input[type="email"], form input[type="password"], textarea, select {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    border-radius: 10px;
}